<div id="footer" class="footer">
    <div class="container">
        <div class="row clearfix footer-left">
              <a href="/query/">查询进度</a>
              <br/>
              <a href="/pay">支付链接</a>
              <br/>
        </div>
        <div class="row clearfix footer-right">
              <a target="_blank" href="http://abigeater.com">Abigeater</a>
              <br/>
              <a target="_blank" href="http://github.com/sohyunQVQ">Abigeter Github</a>

        </div>
    </div>
</div>