{% extends 'base.html' %}
{% block content %}
<div id="body" class="container">
    <div class="text-center hidden-lg" style="font-size:32px;color:cadetblue;margin-top:20px;">票务解决方案</div>
      <div class="container">
            <div class="row clearfix">
                  <div class="col-md-12 column" style="margin-top:10px;">
                        <form id="choose_form" name="choose" method="post" action="">
                             <div class="form-group">
                                    <label for="inputKey" class="col-sm-2 control-label" style="font-size:16px;margin-top:5px;">防盗票暗号：</label>
                                    <div class="col-sm-10">
                                          <input type="text" class="form-control" id="inputKey" name="key" />
                                    </div>
                              </div>
                            {% csrf_token %}
                            <br class="visible-lg"/><br class="visible-lg"/>
                              <div class="form-group">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                                <th  style="height:30px;"></th>
                                          </tr>
                                          <tr>
                                                <td align="center"><input type="submit" class="btn btn-info" value="查询进度"></td>
                                          </tr>
                                    </table>
                             </div>
                        </form>
                      {% if order.requests in 'POST' %}
                      {% if order.time %}
                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <ol>
                                        <li style="color:#000000">
                                            已经下单,下单时间：{{ order.time }}
                                        </li>
                                        <li>
                                            支付状态:{{ order.status }}
                                        </li>
                                        <li {% if not order.statusnumber %}style="color:#C0C0C0"{% endif %}>
                                            分配车辆:{% if order.car %}{{ order.car }}{% else %}未分配{% endif %}
                                        </li>
                                        <li {% if not order.statusnumber %}style="color:#C0C0C0"{% endif %}>
                                            等待发车,发车时间:{{ order.starttime }}
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                      {% else %}
                      <tr>
                            <td align="center"><div style="color:red;font-size:18px">暗号不存在请重新输入。</div></td>
                        </tr>
                      {% endif %}
                      {% endif %}

                  </div>
            </div>
      </div>
</div>
{% endblock %}